html{
    background-color: rgb(250, 250, 250);
}

.fa-magnifying-glass{
 position: relative;
 left: 11.50cm;
   color: #6e6d7a;
}

.fa-circle{
    color: black;
position: relative;
left: 5cm;
    
    
   
    
}


.qqq{
color: #6e6d7a;
    font-size: x-large;
}

.aaa{
    position: relative;
    left:25px;
    color: #6e6d7a;
    font-size: larger;
}
.bbb{
    position: relative;
    left: 45px;
    color: #6e6d7a;
    font-size: larger;
}

.ccc{
    position: relative;
    left: 55px;
    color: #6e6d7a;
    font-size: larger;
}

.eee{
    position: relative;
    left: 65px;
    color: #6e6d7a;
    font-size: larger;
}

.fff{
    position: relative;
    left: 75px;
    color: #6e6d7a;
    font-size: larger;
}

.ggg{
    position: relative;
    left: 85px;
    color: #6e6d7a;
    font-size: larger;
}

.hhh{
    position: relative;
    left: 11.5cm;
    color: #6e6d7a;
    font-size: larger;
}

.iii{
    color: white;
    background-color: #ea4c89;
    display: inline-block;
    height: 20px;
    padding: 10px 16px;
    border-radius: 8px;
    background: #ea4c89;
    cursor: pointer;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 30;
    line-height: 20px;
    position: relative;
    left: 12cm;
}

.jjj{
margin-inline-start: 6cm;


}

.kkk{
    margin-inline-start: 235px;
   
}

.lll{
    margin-inline-start: 5cm;
    width: 900px;
    height: 900px;
    background-color: black;
   
  
}
.mmm{
font-size: x-large;
color:#ea4c89;
position: relative;
    left: 6cm;
}

.nnn{
    font-size: x-large;
    color:#ea4c89;
    position: relative;
    left: 6cm;
}
.ooo{
    font-size:x-large;
    color: #ea4c89;
    position: relative;
    left: 6cm;
}

.ppp{
    font-size:large;
    color:#6e6d7a ;
    position: relative;
    left: 6cm;
    
}

.ttt{
font-size: larger;
color: #6e6d7a;
position: relative;
    left: 6cm;

}
.sss{
    color: #3d3d4e;
    position: relative;
    left: 6cm;
}

h3{
    color: #3d3d4e;
    position: relative;
    left: 6cm;
}


.www{
    color: #3d3d4e;
    font-size: larger;
    position: relative;
    left: 6cm;
}

.rrr{
    color: #3d3d4e;
    font-size: larger;
    position: relative;
    left: 6cm;
}

.uuu{
    color: #3d3d4e;
    font-size: x-large;
    position: relative;
    left: 6cm;
}

.ina{
    font-size: large;
    color: #3d3d4e;
    position: relative;
    left: 6cm;
}

.iou{
    font-size: large;
    color: #3d3d4e;
    position: relative;
    left: 6cm;
}

.iop{
    color: #ea4c89;
    font-size:large;
  
}
.plm{
    position: relative;
    left: 6cm;
}

.poi{
    position: relative;
    left: 6cm;
    font-size: larger;
    color:#3d3d4e;;
}

.asd{
    font-size: medium;
    position: relative;
    left: 6cm;
}
.dsa{
    color: #ea4c89;
    position: relative;
    left: 6cm;
}







